
/* google font */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


html, body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #0B0C10;
}


/* NAVIGATION BAR */
#navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background-color: #0B0C10;

}

.nav-links{
    text-decoration: none;
    color: #000;
    display: block;
    float: right;
    color: #ff9100;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav-links:hover{
    background-color: #ffb24d;
    color: #fff
}

#home-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    transform: rotate(180deg)
}

#link-home-logo{
    transform: rotate(180deg);
    text-decoration: none;
    display: block;
    float: left;
}


/* GENERAL CONFIGURATIONS FOR SECTIONS */

.sections{
    width: 100%;
    height: 100vh;
}

/* SECTION 1: general styling on WELCOME SECTION */

.welcome-section{
    color: #fff;
    width: 100%;
    height: 100%;
}

#welcome-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
}

#profile_photo{
    transform: rotate(180deg);
    border-radius: 50%;
    height:256px;
    width: 256px;
}

.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
}

.text-area h1{
    margin: 1px;
    font-size: 40px;
    color: #ff9100;
}

.text-area h2{
    margin-top: 1px;
    font-size: 25px;
}

/* SECTION 1: presentation short text */
.text-area p{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding:0;
    color: #fff;
}

#presentation-text{
    /* width: 100%; */
    padding: 30px;
    margin-top: 40px;
}

#emj-germany-flag{
    width: 35px;
    height: 30px;
}

#emj-girl-pc{
    width: 40px;
    height: 40px;
}


/* SECTION 2: GALLUP STRENGHTS */

#gallup-logo-area{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallup-logo{
    width: 600px;
    height: 100px;
}


/* strenghts' icons area*/
#gallup-icons-area{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-icons{
    width:100px;
    height: 100px;
    padding: 30px;
}


/* SECTION 3: CONTACT */

#c-text-area{
    background-color: #0B0C10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#c-text-area p{
    background-color: #0B0C10;
    color: #ff9100;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

#c-icons-area{
    background-color: #0B0C10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.c-icons-img{
    width: 140px;
    height: 140px;
    padding: 30px;
}

/* FOOTER */
footer{
    /* border: solid; */
    background-color: #ff9100;
    width: 100%;
    height: 70px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#footer-heart{
    width: 20px;
    height: 20px;
}
