/* google font */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


html, body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F6CFA3;
    color:#000;
    padding: 0;
    margin: 0;
}


/* NAVIGATION BAR */
#navbar{ 
    top: 0;
    width: 100%;
    height: 8%;
    position: fixed;
    background-color: #0B0C10;
}

#link-home-logo{
    text-decoration: none;
    display: block; 
    float: left;
    height: 90%;
    width: 4%;
}

#img-home-logo{
    width: 95%;
    height: 100%;
    padding: 4px;
}

.nav-links{
    float: right;
    text-decoration: none;
    color: #ff9100;
    height: 100%;
    width: 198px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;}

.nav-links:hover{
    background-color: #ffb24d;
    color: #fff
}

#work-xp-link{
    background-color: #ffb24d;
    color: #fff
}

/* ------------------------------------------------------- */

#constr-icon-section{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    height: 80vh;
    width: 100%;
}

#constr-icon{
    width: 400px;
    height: 400px;    
}


/* ------------------------------------------------------- */

/* FOOTER */
footer{
    border: solid #000;
    background-color: #0B0C10;
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: block;
    color: #ff9100;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#footer-section{
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-heart{
    width: 20px;
    height: 20px;
}
