
/* google font */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


html, body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #0B0C10;
    padding: 0;
    margin: 0;
}

/* GENERAL CONFIGURATIONS FOR SECTIONS */
.sections{
    width: 100%;
    height: 100vh;
}

/* NAVIGATION BAR */

#navbar{ 
    width: 100%;
    height: 8%;
    position: fixed;
    background-color: #0B0C10;
}

#link-home-logo{
    text-decoration: none;
    display: block;
    float: left;
    height: 90%;
    width: 4%;
}

#img-home-logo{
    width: 95%;
    height: 100%;
    padding: 4px;
}

.nav-links{
    float: right;
    text-decoration: none;
    color: #ff9100;
    height: 100%;
    width: 198px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;}

.nav-links:hover{
    background-color: #ffb24d;
    color: #fff
}


/* SECTION 1: WELCOME SECTION */

#profile-img-area{
    height: 60%;
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: flex-end; /* vertical alignment */
}

#profile_photo{
    transform: rotate(180deg);
    border-radius: 50%;
    height:274px;
    width: 214px;
}

#text-area{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* horizontal alignment */
    align-items: center; /* vertical alignment */
}

#text-area h1{
    margin: 1px;
    font-size: 40px;
    color: #ff9100;
    padding: 10px;
}

#text-area h2{
    margin-top: 1px;
    font-size: 25px;
    color: #ff9100;
}



/* SECTION 2: Tools and technologies  */

#tech-area{
    background-color: #F6CFA3;
}

.tools-area{
    /* border: solid #fff;   */
    height: 50%;
}

#first-text-area{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    height: 50%;
}

#second-text-area{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    height: 30%;
}

.icons-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    /* padding: 20px; */
}

.tools-icons-small{
    width: 60px;
    height: 80px;
    padding: 20px;
}

#icon-git{
    width: 70px;
    height: 70px;
    padding: 20px;
}

#icon-database{
    width: 60px;
    height: 70px;
    padding: 20px;
}

#icon-java{
    width: 60px;
    height: 90px;
    padding: 20px
}

#icon-angular, #icon-python, #icon-ruby{
    width: 70px;
    height: 70px;
    padding: 20px;
}

#icon-php{
    width: 110px;
    height: 70px;
    padding: 20px;
}

.tools-icons-large{
    width: 180px;
    height: 60px;
    padding: 20px;
}





/* SECTION 3: GALLUP Strengths */

#gallup-intro-text{
    color: #ff9100;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    height: 10%;
    padding: 30px;
}
 
/* ------------------------------------------- */
.g-strengths-blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.g-blocks-area{
    width: 450px;
    height:100px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.g-icons-area{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.g-icon-img{
    width: 100px;
    height: 100px;
}

.g-description{
    width:100%;
    height: 100%;
    color: #ff9100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding: 0 15px;
}


/* SECTION 4: CONTACT */

#contact-area{
    background-color: #F6CFA3;
}

#c-text-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    /* align-items: center; */
    height: 40%;
}

#c-text-area p{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

#c-icons-area{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;     */
}

.c-icons-img{
    width: 150px;
    height: 150px;
    padding: 30px;
}


/* FOOTER */
footer{
    /* border: solid; */
    background-color: #0B0C10;
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: block;
    color: #ff9100;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#footer-section{
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-heart{
    width: 20px;
    height: 20px;
}

