/* google font */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


html, body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F6CFA3;
    color:#000;
    padding: 0;
    margin: 0;
}


/* NAVIGATION BAR */
#navbar{ 
    top: 0;
    width: 100%;
    height: 8%;
    position: fixed;
    background-color: #0B0C10;
}

#link-home-logo{
    text-decoration: none;
    display: block; 
    float: left;
    height: 90%;
    width: 4%;
}

#img-home-logo{
    width: 95%;
    height: 100%;
    padding: 4px;
}

.nav-links{
    float: right;
    text-decoration: none;
    color: #ff9100;
    height: 100%;
    width: 198px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;}

.nav-links:hover{
    background-color: #ffb24d;
    color: #fff
}

#education-link{
    background-color: #ffb24d;
    color: #fff
}

/* secions' title  settings */

#edu-page-section{
    width: 100%;
    height: 100%;
}

.title-section{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

.title-section h2{
    font-size: 50px;
}


/* EDUCATION: Language Skills */

.lang-skill-area{
    width: 300px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.lang-icon-area{
    width: 70px;
    height: 100%;
    display: flex;
}

.lang-icon{
    width: 50px;
    height: 50px;
    padding: 20px 10px;
}

.lang-name-area{
    font-size: 25px;
    font-weight: bold;
}



/* EDUCATION: DEGREES */

.educations-area{
    padding: auto 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 20px;
}

.course-section{
    height: 200px; 
    width: 500px;
    display: flex;
    flex-direction: column;
}

.course-name-area{
    margin-top: 0px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.icon-section{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center; 
}

.icon-section img{
    height: 30px;
    width: 35px;
    margin: auto;
}

.course-name{
    width: 85%;
    height: 100%;
    display: flex;    
}


.degree-section{
    width: 83%;
    height: 60%;
    align-self: flex-end;
}

.degree-section p{
    font-size: 18px;
    margin: 0px;
    padding: 5px;
    font-style: italic;
    line-height: 1.6;
}

#courses-area{
    align-content: center;
    justify-content: space-around;
}



/* FOOTER */
footer{
    border: solid #000;
    background-color: #0B0C10;
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: block;
    color: #ff9100;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#footer-section{
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-heart{
    width: 20px;
    height: 20px;
}
