
/* NAVIGATION BAR */
#navbar{
    border: solid;
    width: 100%;
    height: 60px;
    position: block; /* fixed */
    top: 0px;
}

.nav-links{
    text-decoration: none;
    color: #000;
    display: block;
    float: right;
}

#home-logo{
    border: solid;
    width: 50px;
    height: 50px;
}

#link-home-logo{
    text-decoration: none;
    display: block;
    float: left;
}


/* GENERAL CONFIGURATIONS FOR SECTIONS */

.sections{
    border: solid;
    border-color: red;
    width: 100%; /* maybe change the unit to 100vw */
    height: 90vh;
}

/* SECTION 1: PROFILE SECTION */
#pf-photo-area, #pf-name-area, #pf-timeline, #pf-text, #pf-title{
    border: solid;

}

#pf-photo-area{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile_photo{
    /*transform: rotate(180deg);*/
    /* border-radius: 700px; */
    height:200px;
    width: 230px;
}

#pf-name-area {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECTION 2: SHORT PRESENTATION */

#prs-text-area, #timeline-title-area,#prs-timeline{
    border: solid;
    width: 100%;
}

#prs-text-area{
    height: 20%;
}

#timeline-title-area{
    height: 10%;
}

#prs-timeline{
    height: 60%;
}

.prs-emojis{
    width: 15px;
    height: 15px;
}


/* SECTION 3: GALLUP STRENGHTS */

/* head */
#gallup-logo-area{    
    border: solid;
}

#gallup-logo{
    width: 500px;
    height: 100px;
}

/* little text on header's section */
#gallup-text-area{
    border: solid;
}

/* strenghts' logo area*/
.g-logo-area{
    border:solid;
}

.g-logo{
    border:solid; 
    width:80px;
    height: 80px;   
}

/* FOOTER */
footer{
    border: solid;
    width: 100%;
    bottom: 0px;
    display: block;
}
